/*--------------- Generals ---------------*/

/*---------- Reset ----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Custum properties ---------*/
:root{

}

/*---------- Debug ----------*/
.debug{
    border: 1px solid red;
}

/*---------- Text formatting ----------*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
    font: inherit;
}

a:hover{
    text-decoration: underline;
}
img{
    width: 100%;
}

/*---------- Utility flex ----------*/
.d-flex{
    display: flex;
}

.j-space-between{
    justify-content: space-between;
}

.j-space-around{
    justify-content: space-around;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: end;
}

.a-center{
    align-items: center;
}

.d-column{
    flex-direction: column;
}

.d-row{
    flex-direction: row;
}

.d-row-reverse{
    flex-direction: row-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

/*---------- Container ---------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    margin: 0 auto;
    max-width: 1000px;
}




/*--------------- Index ---------------*/

/*---------- Header ----------*/

header{
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
header img{
    width: 150px;
    height: 30px;
}
header li{
    list-style: none;
    padding: 10px;
}
header ul{
    padding: 10px;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.accedi{
    padding: 10px;
}
.fake-button{
    background-color: blue;
    color: white;
    padding: 15px;
}
/*---------- Main ----------*/

/*---------- Footer ----------*/